<% provide(:title, 'Search Flight') %>
<%- model_class = FlightSchedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |f| %>
	<div class="field">
	  <%= f.label :gofroms_aiport_code_cont, "Departs From" %>
	  <%= f.text_field :gofroms_aiport_code_cont %>
	</div>
	<div class="field">
	  <%= f.label :gotos_aiport_code_cont, "Heading to" %>
	  <%= f.text_field :gotos_aiport_code_cont %>
	</div>
	<div class="field">
	  <%= f.label :depart_at_eq, "Departs on" %>
	  <%= f.date_select :depart_at_eq %>
	</div>
	<div class="actions"><%= f.submit "Search" %></div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:flight_code) %></th>
      <th><%= model_class.human_attribute_name(:from) %></th>
      <th><%= model_class.human_attribute_name(:to) %></th>
      <th><%= model_class.human_attribute_name(:depart_at) %></th>
      <th><%= model_class.human_attribute_name(:depart_on) %></th>
      <th><%= model_class.human_attribute_name(:flight_tim) %></th>
      <th><%= model_class.human_attribute_name(:seats) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @flight_schedules.each do |flight_schedule| %>
      <tr>
        <td><%= link_to flight_schedule.id, flight_schedule_path(flight_schedule) %></td>
        <td><%= flight_schedule.flight_code %></td>
        <td><%= flight_schedule.gofroms.aiport_code%></td>
				<td><%= flight_schedule.gotos.aiport_code %></td>
        <td><%= flight_schedule.depart_at.strftime("%d %B %Y") %></td>
        <td><%= flight_schedule.depart_on.strftime("%H:%M") %></td>
        <td><%= flight_schedule.flight_tim %></td>
        <td><%= flight_schedule.seats %></td>
        <td><%= flight_schedule.price %></td>
        <td>
				<td><%= link_to "Book Now", new_reservation_path(:flight_id => flight_schedule), :class => 'btn btn-mini btn-primary '%>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_flight_schedule_path(flight_schedule), :class => 'btn btn-mini ' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      flight_schedule_path(flight_schedule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_flight_schedule_path,
            :class => 'btn btn-primary' %>
